.game-board-container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    display: flex;
    justify-content: space-between;
    background-color:#3e1a5f;
    width:250px;
    height: 250px;
    border-radius: 5px;
    padding: 5px;
}

.sqaure{
    width:70px;
    height:70px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #080808;
}

.btn-reset{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.game-status{
    display: flex;
    justify-content: center;
}

.spacer {
    flex: 0.01 0.01 auto;
}

.invite-friends{
    margin: 10px;
}