<div class="game-board-container">
  <div class="game-board">
      <div *ngFor="let row of gameBoard">
          <button *ngFor="let col of gameBoard" class="btn btn-light sqaure"
              (click)="SetCellValue(row,col)">{{game.cellValue[row][col]}}</button>
      </div>
  </div>
</div>
<div class="game-status">
  <div *ngIf="!win">
      <h5>Usted : Jugador {{playerRole}}</h5>      
  </div>
  <span class="spacer"></span>
  
  <div class="ame-board-container">
      <div *ngIf="win">
          <h5>Jugador {{winner}} a ganado el juego</h5>
      </div>
      <div *ngIf="!win && !gameFinished">
          <h5> Turno : Jugador {{game.currentPlayer}}</h5>
      </div>
      <div *ngIf="gameFinished && !win">
          <h5></h5>
      </div>
  </div>
</div>
<div class="btn-reset">
  <button mat-raised-button color="accent" (click)="ResetGame()">Reiniciar juego</button>
</div>
<app-invite></app-invite>