<div class="menu-container">
  <img src="https://www.flaticon.es/svg/static/icons/svg/566/566294.svg">
</div>

<div class="container">
  <button class="new-game" mat-raised-button color="primary" [routerLink]="['/game',gamedto?.id]">Nueva partida</button>
</div>

<div class="container">
  <input type="text" class="form-control" placeholder="Codigo" id="codeJoin" >
  <button class="new-game" (click)="joinGame()"type="button" mat-raised-button color="primary">Unirse partida</button>
</div>
