.new-game,.instruction{
    margin: 15px;
}

.menu-container{
    margin: 16px 16px 0px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}
.spacer {
    flex: 0.01 0.01 auto;
}